* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
    font-size: 1.6rem;
}

:root {
    --primary-color: #ff5b2e;
}

/* Common */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-style: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    /* Để cho chữ luôn được căn giữa theo chiều cao nè */
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.87;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    display: inline-block;
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    transition: 0.25s;
}

.navbar__link:hover,
.header-action__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
    line-height: 1;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    /* Đặt con mèo ngay giữa nè */
    /* Thêm 2 decor vào thì nó bị lệch */
    /* Chỉnh 2 cái decor position absolute */
    /* Để rời khỏi bố cục luồng */
    /* Cho con mèo vào lại ngay giữa */
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    /* Nếu ảnh nhỏ hơn thì không bị kéo dãn ra */
    max-width: 100%;
    max-height: 100%;
    /* Kế thừa hero__img-wrap */
    border-radius: inherit;
}

.hero__decor {
    /* Đặt con mèo ngay giữa nè */
    /* Thêm 2 decor vào thì nó bị lệch */
    /* Chỉnh 2 cái decor position absolute */
    /* Để rời khỏi bố cục luồng */
    /* Cho con mèo vào lại ngay giữa */
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -44px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background: #faa7ad;
    width: 186px;
    height: 244px;
}

.hero__list {
    position: absolute;
    left: 129px;
    /* Để nội dung sau này không bị sát lề */
    /* Thì cần padding hero__media */
    /* vì vậy bottom thay vì -94 */
    /* thì nó sẽ là 0 */
    bottom: 0;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
}

.hero__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.hero__list-item:first-child {
    padding-bottom: 24px;
    border-bottom: 2px solid rgba(242, 242, 242, 1);
}

.hero__list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.hero__list-item__thumb-top {
    background: #fec23f;
}

.hero__list-item__info {
    margin-left: 8px;
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__list-item__skeleton:last-child {
    width: 39px;
}

.hero__list-item__thumb-bottom {
    background: #afd1ed;
}

.hero__heading {
    color: #000958;
    width: 517px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
}

.hero__row {
    margin-top: 38px;
}

.btn__icon {
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}

.hero__cta-btn {
    --height: 60px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    min-width: 186px;
}

/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    font-family: "Sora", sans-serif;
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../icons/check.svg);
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 30px 26px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    text-align: center;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}
.about__cart-title {
    color: #fff;
    font-family: "Sora", sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    width: 83px;
    color: #c6f4f9;
    font-size: 14px;
    line-height: 1.43;
}

.about__cart-decor {
    /* Mặc dù about__card có position absolute */
    /* about__cart-decor vẫn định vị theo about__card */
    position: absolute;
    top: -39px;
    right: -32px;
}
.about__img-wrap {
    /* Không set chiều cao  */
    /* Vì các ảnh có thể có chiều cao khác nhau */
    width: 494px;
    position: relative;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    /* Tương đương left 0, right 0, bottom 0 */
    inset: auto 0 0 0;
    content: "";
    z-index: -1;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    right: -50px;
    top: 157px;
    z-index: -1;
}

.about__img-wrap--bottom {
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

/* File HTML thì chỗ này có 2 class */
/* Class đầu có after */
/* Class sau muốn hủy cái after class trước */
/* Nên dùng content: none để loại bỏ after */
.about__img-wrap--bottom::after {
    content: none;
}

.about__img--bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}
.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about__decor-img:nth-child(4) {
    top: 268px;
    right: -34px;
}
.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}
.about__decor-img:nth-child(6) {
    right: -24px;
    bottom: -40px;
}

.about__decor-img:nth-child(7) {
    right: -33px;
    bottom: -47px;
}
.about__decor-img:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.about__content-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    /* Để độ rộng bằng nội dung mà nó chứa thôi */
    /* Đặt như này để kẻ cái thanh gạch dưới vừa hết cái chữ thì thôi */
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 2px;
    border-radius: 1px;
    opacity: 0.07;
    background: #ff5b2e;
}
.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
    /* Mấy cái icon này chỉ nên để width hoặc height thôi */
}
.tab__title {
    font-family: "Sora", sans-serif;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}

.service {
    padding: 68px 0 100px;
    margin-top: 190px;
    background: #fff6ed;
}

.service__top {
    text-align: center;
}

.service__desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 60px;
    margin-top: 71px;
}

.service-item {
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px;
}

/* Css vào service-item mà đứng sau service-item */
.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__heading::before {
    position: absolute;
    inset: 0 auto 0 0;
    content: "";
    width: 2px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
    width: 244px;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    line-height: 1;
}

.service-item__more::after {
    content: url(../icons/arrow-up-right.svg);
    /* Thấy arrow hơi cao hơn */
    /* Nên để margin top 1px cho hạ thấp xuống 1 xíu*/
    margin: 1px 0 0 5px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    position: absolute;
    bottom: 0;
    /* Tạo khoảng hở 2 bên, cho lông mèo tràn ra */
    left: 16px;
    right: 16px;
    /* Nếu làm z-index: -1 */
    /* Thì sẽ làm cho cái nền này xuống tận phía dưới */
    /* Xuống dưới hơn cả nền service__media */
    /* Nên sẽ không thấy được */
    /* z-index: -1; */
    /* nên tác động kéo ảnh con mèo lên trên */
    content: "";
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    width: 100%;
    position: relative;
    /* Muốn dùng được z-index thì phải luôn có position */
    /* Phải định vị được phần tử ở đâu thì mới dùng z-index được */
    z-index: 1;
    display: block;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    min-width: 214px;
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 31px;
    border: 1px solid currentColor;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__desc {
    color: #5e6085;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.staff__heading {
    margin-top: 15px;
    text-align: center;
}
.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Responsive */
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    /* Để căn luôn ngay giữa mà không cần căn chỉnh pixel nè */
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    /* Mặc định nằm góc trên bên trái */
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    /* Không dùng content gắn link url là bởi vì khi responsive */
    /* Thì file ảnh không thay đổi kích cỡ được */
    background-image: url(../img/staff-decor-01.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}
.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff__cta {
    color: #ff5b2e;
    min-width: 193px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff9b7e;
}
